body{
    height: 1000px;
    background-color: rgba(242, 237, 208, 0.8);
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(30, 1fr);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.navbar{
    grid-column: 1/-1;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    background-color: cornflowerblue;
    font: 14px Arial, Helvetica, sans-serif;
}

.home{
    grid-column: 3/4;
    padding-top:40px;
    text-align: center;
}

.current{
    border-bottom: 5px solid brown;
}

.portfolio{
    grid-column: 4/5;
    padding-top:40px;
    text-align: center;
}

.logout{
    grid-column: -1;
    padding-top:40px;
    text-align: center;
}

.labelAndDetail{
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-column: 1 / 8;
    grid-row: 4 / 5;
    display: none;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: lightsteelblue;
}

.stockdesc{
    grid-column: 1/6;
    grid-row: 1/-1;
}

.gg-arrow-left-o{
    margin-top: 40%;
    margin-left: 30%;
}

.back{
    grid-column: -2/-1;
    grid-row: 1/-1;
    text-align: center;
}

.chart_container{
    display: none;
    margin-left: 5px;
    position:  relative;
    grid-column: 1 / 8;
    grid-row: 5 / 19;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.lateruse{
    grid-column: 1/ -1;
    grid-row: 4 / 19;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    font-size: 16px;
}

.stock_chartnprice{
    grid-column: 1/-1;
    grid-row: 1/-2;
}

.chart_wrapper{
    margin: 0px auto;
    height: 100%;
    width: 100%;
    position: relative;
}

.stock_graph{
    background-color: rgb(217, 197, 137);
    padding: 0px;
    grid-column: 1/-2;
    grid-row: 1/-2;
    position: relative;
}

#for_crossHair{
    position: absolute;
    top:0;
}

#price_bar_highlighted_canvas{
    position: absolute;
    top:0;
    left:0;
}

#time_bar_highlighted_canvas{
    position: absolute;
    bottom:0;
    left:0;
}

.stock_label{
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Bitter', serif;
    height: 50px;
    width: 30%;
    border:1px rgba( 113, 95, 117, 0.7) solid;
    background-color: rgba( 113, 95, 117, 0.2);
    position: absolute;
    border-radius: 5px;
    color: seashell;
    z-index: 2;
}


.y_axis{
    cursor: ns-resize;
    grid-column: -2/-1;
    border-left: 1px solid rgba( 113, 95, 117, 0.5);
    padding:0px;
    grid-column: -2/-1;
    grid-row: 1/-2;
}

.x_axis{
    grid-column: 1/-2;
    grid-row: -2/-1;
    cursor: ew-resize;
    border-bottom-left-radius: 5px;
    border-top: 1px solid rgba( 113, 95, 117, 0.5);
}

.price_bar{
    height: 100%;
    width: 100%;
    margin: 0px;
    position: relative;
}


.time_bar{
    height: 100%;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.time_axis{
    grid-column: 1 / -2;
    grid-row: -2 / -1;
}

.duration_bar{
    display: none;
    grid-column: 1 / 9;
    grid-row: 17 / 18;
    background-color: rgb(0, 63, 99);
    position: relative;
    background-color: rgb(0, 63, 99);
    height: 100%;
    margin-top: 5px;
}

.duration_button{
    height: 100%;
    background-color: rosybrown;
    position: absolute;
    width:40px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.day1{				
    right:0;
}
.week1{				
    right:50;
}
.month3{				
    right:100;
}
.month6{				
    right:150;
}
.ALL{
    right:200;
}

.shift{
    right:200;
}

.nil{
    grid-column: -2/-1;
    grid-row: -2/-1;
    background-color: rgba(36, 0, 54,1);
    border-bottom-right-radius: 5px;
}

#can{
    margin: 0px auto;
}

.axis{
    background-color: rgb(36, 0, 54);
}

.here{
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    bottom:15px;
    left: 45%;
    background-color: seagreen;
}

.stockheader{
    background-color: olivedrab;
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap:2%;
    height: 50px;
    transition: width 1s ease-in;
}

.each_stock{
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap:2%;
    background-color: aliceblue;
    height: 50px;
    transition: width 1s ease-in;
}

.stock_name{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 1/3;
    grid-row:1;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.dispchart{
    display: none;
    padding-top: 10px;
    grid-column: -1;
}

.gg-trending{
    color: blueviolet;
}

.stock_quantity{
    padding-top: 15px;
    padding-left: 3px;
    grid-row: 1;
    grid-column: 3/4;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.moredetail{
    grid-column: 1/2;
    display: none;
    color: blue;
}

.info{
    display: none;
    background-color: crimson;
}

.eachDetail{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.eachDetail_date{
    grid-column: 1/3;
}
.eachDetail_price{
    grid-column: 3/4;
}
.eachDetail_share{
    grid-column: 4/5;
}

.qty{
    grid-column: 4/5;
}

.avg_price{
    padding-top: 15px;
    padding-right: 3px;
    grid-row: 1;
    grid-column: 4/5;
    text-align: end;
}

.LTP{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 5/7;
    text-align: center;
}

.profitloss{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 7/8;
    text-align: right;
}

.change{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 8/9;
    text-align: right;
}

.dayChange{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 9/10;
    text-align: right;
}

.profit{
    color: green;
}
.loss{
    color: red;
}
.nochange{
    color: grey;
}

.selected{
    border-left: 4px solid rgba(142, 140, 143, 0.5);
}
