body{
    background-color: rgba(242, 237, 208, 0.8);
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, 1fr);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.TransactModalBox{
    display:none;
    z-index: 3;
    grid-row: 1/-1;
    grid-column: 1/-1;
    background-color: rgba(194, 188, 188, 0.7);
}

.ModalBox{
    position: fixed;
    bottom: 0;
    height:50%;
    width: 50%;
    margin-left: 25%;
    background-color: pink;
    border: 1px red solid;
    display: grid;
    grid-template-rows: repeat(10,1fr);
}

.Transact_output{
    display: none;
    position: absolute;
    top:15%;
    left: 5px;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    transition: visibility 5s ease-in-out;
}

.field{
    margin: 0;
    grid-row: 3/-1;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(10,1fr);
}
.header{
    grid-column: 1/-1;
    grid-row: 1/3;
    background-color: rgb(201, 104, 87);
}
.footer{
    background-color: black;
    grid-column: 1/-1;
    grid-row: -4/-1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.button{
    color: aliceblue;
    border: 1px solid white;
    height: 45%;
    width: 80%;
    padding: 5px;
    text-align:center;
    margin: auto;
}
.cancel{
    grid-column: 3/4;
}
.submit{
    color: black;
    background-color: aliceblue;
    grid-column: 4/5;
}
input{
    width:90%;
    border: none;
    background-color: rgb(141, 74, 108);
    
}
.stocklabel{
    grid-column: 1/2;
    grid-row: 2/3;
}
.myInput{
    grid-column: 2/-1;
    grid-row: 2/3;
}
.autocomplete-items{
    grid-column: 2/-1;
    grid-row: 5/6;
    width: 70%;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 4;
    /*position the autocomplete items to be the same width as the container:*/
    top:-10px;
}

.autocomplete-items div{
    background-color:grey;
    padding: 10px;
    border-top: 1px solid white;
}
.datelabel{
    grid-column: 4/5;
    grid-row: 6/7;
}
.date{
    grid-column: 5/6;
    grid-row: 6/7;
}

.qtylabel{
    grid-column: 1/2;
    grid-row: 4/5;
}
.quantity{
    grid-column: 2/3;
    grid-row: 4/5;
}

.price{
    grid-column: 5/6;
    grid-row: 4/5;
}
.pricelabel{
    grid-column: 4/5;
    grid-row: 4/5;
}

.navbar{
    grid-column: 1/-1;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    background-color: cornflowerblue;
    font: 14px Arial, Helvetica, sans-serif;
}

.home{
    grid-column: 3/4;
    padding-top:40px;
    text-align: center;
}

.current{
    border-bottom: 5px solid brown;
}

.portfolio{
    grid-column: 4/5;
    padding-top:40px;
    text-align: center;
}

.all_order{
    grid-column: 5/6;
    padding-top:40px;
    text-align: center;
}

.logout{
    grid-column: -1;
    padding-top:40px;
    text-align: center;
}

.labelAndDetail{
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-column: 1 / 10;
    grid-row: 4 / 6;
    display: none;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: lightsteelblue;
}

.stockdesc{
    grid-column: 1/5;
    padding: 5px;
    grid-row: 1/2;
}

.gg-arrow-left-o{
    margin-left: 5px;
}

.back{
    grid-column: -2/-1;
    grid-row: 2/3;
    text-align: center;
}



.chart_container{
    display: none;
    background-color: rgba( 10, 200, 180, 0.5);
    margin-left: 5px;
    position:  relative;
    grid-column: 1 / 10;
    grid-row: 6 / 19;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.lateruse{
    grid-column: 1/ -1;
    grid-row: 4 / -1;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    font-size: 16px;
    overflow: auto;
}

.stock_chartnprice{
    grid-column: 1/-1;
    grid-row: 1/-2;
}

.chart_wrapper{
    margin: 0px auto;
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: 5px;
}

.stock_graph{
    background-color: rgb(217, 197, 137);
    padding: 0px;
    grid-column: 1/-2;
    grid-row: 1/-2;
    position: relative;
}

#for_crossHair{
    position: absolute;
    top:0;
    z-index: 2;
}

#for_timeline{
    position: absolute;
    top:0;
    z-index: 1;
}

#for_timeline_highlight{
    position: absolute;
    top:0;
    z-index: 1;
}

#price_bar_highlighted_canvas{
    position: absolute;
    top:0;
    left:0;
}

#time_bar_highlighted_canvas{
    position: absolute;
    bottom:0;
    left:0;
}

.stock_label{
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Bitter', serif;
    height: 50px;
    width: 30%;
    border:1px rgba( 113, 95, 117, 0.7) solid;
    background-color: rgba( 113, 95, 117, 0.2);
    position: absolute;
    border-radius: 5px;
    color: seashell;
    z-index: 2;
}


.y_axis{
    cursor: ns-resize;
    grid-column: -2/-1;
    border-left: 1px solid rgba( 113, 95, 117, 0.5);
    padding:0px;
    grid-column: -2/-1;
    grid-row: 1/-2;
}

.x_axis{
    grid-column: 1/-2;
    grid-row: -2/-1;
    cursor: ew-resize;
    border-bottom-left-radius: 5px;
    border-top: 1px solid rgba( 113, 95, 117, 0.5);
}

.price_bar{
    height: 100%;
    width: 100%;
    margin: 0px;
    position: relative;
}


.time_bar{
    height: 100%;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.time_axis{
    grid-column: 1 / -2;
    grid-row: -2 / -1;
}

.duration_bar{
    display: none;
    grid-column: 1 / 9;
    grid-row: 17 / 18;
    background-color: rgb(0, 63, 99);
    position: relative;
    background-color: rgb(0, 63, 99);
    height: 100%;
    margin-top: 5px;
}

.duration_button{
    height: 100%;
    background-color: rosybrown;
    position: absolute;
    width:40px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.day1{				
    right:0;
}
.week1{				
    right:50;
}
.month3{				
    right:100;
}
.month6{				
    right:150;
}
.ALL{
    right:200;
}

.shift{
    right:200;
}

.nil{
    grid-column: -2/-1;
    grid-row: -2/-1;
    background-color: rgba(36, 0, 54,1);
    border-bottom-right-radius: 5px;
}

#can{
    margin: 0px auto;
}

.axis{
    background-color: rgb(36, 0, 54);
}

.inc{
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    bottom:15px;
    left: 45%;
    background-color: seagreen;
    z-index: 2;
}

.stockheader{
    background-color: olivedrab;
    margin: 0px 5px;
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap:2%;
    height: 50px;
    transition: width 1s ease-in;
}

.transactMenu{
    height: 50px;
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:5%
}
.buy{
    margin: 5px;
    grid-column: 1/2;
    padding: 10px;
    border: 1px solid beige;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid goldenrod;
}
.sell{
    border: 1px solid goldenrod;
    margin: 5px;
    grid-column: 2/3;
    border-radius: 5px;
    background-color: rgb(100,255,200);
    text-align: center;
    padding: 10px;
}
.stock{
    height: 50px;
    margin:5px;
}
.each_stock{
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap:2%;
    background-color: aliceblue;
    height: 100%;
    transition: width 1s ease-in;
}

.each_stock:hover{
    background-color: rgba( 113, 95, 117, 0.7);
}

.stock_name{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 1/3;
    grid-row:1;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.stock_name_col{
    grid-column: 1/-2;
}

.dispchart{
    display: none;
    padding-top: 10px;
    padding-left: 5px;
    grid-column: -1/-2;
}

.gg-trending{
    color: blueviolet;
}

.stock_quantity{
    padding-top: 15px;
    padding-left: 3px;
    grid-row: 1;
    grid-column: 3/4;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.moredetail{
    grid-column: 1/2;
    display: none;
    color: blue;
}

.info{
    display: none;
    background-color: crimson;
}

.eachDetail{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    border-bottom: 1px dotted bisque;
}
.eachDetailHeader{
    background-color: rgb(123,25,200);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
}
.sumtotal{
    background-color: rgb(191, 134, 235);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
}
.total{
    grid-column: 4/5;
    text-align: left;
    padding: 5px;
}
.eachDetail_date{
    padding: 5px;
    grid-column: 1/3;
}
.eachDetail_price{
    padding: 5px;
    grid-column: 3/4;
}
.eachDetail_share{
    padding: 5px;
    grid-column: 4/5;
}
.eachDetail_amt{
    padding: 5px;
    text-align: end;
    padding-right: 10%;
    grid-column: 5/6;
}

.qty{
    grid-column: 4/5;
}

.avg_price{
    padding-top: 15px;
    padding-right: 3px;
    grid-row: 1;
    grid-column: 4/5;
    text-align: end;
}

.LTP{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 5/7;
    text-align: center;
}

.profitloss{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 7/8;
    text-align: right;
}

.change{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 8/9;
    text-align: right;
}

.dayChange{
    padding-top: 15px;
    padding-left: 3px;
    grid-column: 9/10;
    text-align: right;
}

.profit{
    color: green;
}
.loss{
    color: red;
}
.nochange{
    color: grey;
}

.selected{
    border-left: 4px solid rgba(142, 140, 143, 0.5);
}

.orders{
    grid-row: 3/-1;
}

.each_date_trade{
    width:95%;
    margin: 10px 2.5%;
    background-color: rgb(59, 78, 78);
}

.each_date{
    height: 100%;
    margin: 10px 2.5%;
}

.indata{
    background-color: rgb(70, 95, 95);
    width: 100%;
    min-height: 15px;
    padding: 10px 0px;
    margin-bottom: 2px;
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(4,1fr);
}

.buy_label{
    grid-column: 1/2;
    text-align: center;
    color: rgb(58, 143, 83);
    background-color: rgba(60, 109, 82, 0.966);
    width: 50%;
    position: relative;
    left:15%;
    border-right: 3px solid rgb(81, 133, 65);
}
.sell_label{
    grid-column: 1/2;
    text-align: center;
    color: rgb(170, 77, 101);
    background-color: rgba(226, 97, 125, 0.966);
    width: 50%;
    position: relative;
    left:15%;
    padding: 2px 0px;
    border-right: 3px solid rgb(226, 32, 81);
}
.ordername{
    border-right: 2px solid rgb(0, 63, 99);
    grid-column: 2/3;
    text-align: right;
    padding: 2px 0px;
    padding-right: 5px;
}
.ordershare{
    grid-column: 3/4;
    padding: 2px 0px;
    text-align: center;
}
.orderprice{
    grid-column: 4/5;
    width: 60%;
    text-align: right;
    margin: 1px 0px;
    border-left: 1px solid rgba(38, 51, 51, 0.856);
}
.each_date{
    border-bottom:1px solid rgb(96, 94, 97);
}
.historydetail{
    margin: 10px;
    background-color: rgb(59, 78, 78);
    border:1px solid rgb(115, 130, 168);
    border-radius: 3px;
}

@media (max-width: 500px){
    .body{
        height:auto;
        grid-template-rows: repeat(20,1fr);
    }
    .chart_container{
        grid-row: 5/-1;
        grid-column: 1/-1;
    }
    .buy,.sell{
        font-size: 20px;
        padding: 5px;
    }
    .ModalBox{
        position: fixed;
        margin: 25px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        border-radius: 2px;
    }
    .stockheader{
        display: none;
    }
    .lateruse{
        grid-row: 3/-1;
        font-size: 10px;
    }
    .transactMenu{
        margin: 5px;
        grid-column-gap: 1%;
    }
    .stock{
        height: 100px;
        font-size: 15px;
        border-radius: 5.5px;
    }
    .each_stock{
        border-radius: 5.5px;
        background-color: rgb(82, 67, 92);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .stock_name{
        grid-column: 1/-2;
        grid-row: 1/2;
        padding: 5px;
        font-size: 17px;
    }
    .stock_quantity{
        text-align: right;
        grid-column: -2/-1;
        grid-row: 1/2;
        padding: 5px;
    }
    .qty::after{
        content: " shares";
    }
    .qty{
        grid-column: 2/-1;
    }
    .avg_price{
        grid-column: 1/3;
        grid-row: 2/3;
        padding: 5px;
        text-align: left;
    }
    .avg_price::before{
        content: "Avg. Price: ";
    }
    .LTP::before{
        content: "LTP: ";
    }
    .LTP{
        grid-column: 2/-1;
        grid-row: 2/3;
        padding: 5px;
        text-align: right;
    }
    .profitloss::before{
        color: #000;
        content: "P/L: ";
    }
    .profitloss{
        grid-column: -2/-1;
        grid-row: 3/4;
        padding: 5px;
    }
    .change::before{
        content: "Net Change: ";
        color: #000;
    }
    .change{
        text-align: left;
        grid-column: 1/3;
        grid-row: 3/4;
        padding: 5px;
    }
    .dayChange{
        display: none;
    }
}
