<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title> My Form </title>
	<style>
		#mylink{
			font-size: 25px;
		}
	</style>
</head>
<body align='center'>
        <header>
		<h1>Login</h1>
	</header>

	<form action="/" method="POST">
		<fieldset>
            <label>{{err}}</label>
			<label>User ID</label>
			<input type ="test"  name="userid" required>
			<br><br>

			<label>Password</label>
			<input type="password" id = "password" name="password" required>
			<br><br>

			<button type ="reset">Reset</button>
			<button type ="submit">Submit</button>
		</fieldset>
        </form>
        <a id="mylink" href="./register">login</a>
</body>
</html>
